@page
@model CalculatorModel
@{
    ViewData["Title"] = "Calculator SpecFlow Demo";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<partial name="_calculator" />
